<!-- views/partials/footer.ejs -->

<footer> 
	    <!--jquery-->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>﻿

	    <!--Oauth-->
	    
        <script src='https://cdnjs.cloudflare.com/ajax/libs/tabletop.js/1.5.1/tabletop.min.js'></script>
        <script type="text/javascript" defer="true" src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script> 
  		
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <script type="text/javascript" src="https://apis.google.com/js/platform.js" async="true" defer="true"></script>
        <meta name="google-signin-client_id" content="513341065750-rpt7nq5a5ibecm40hi8t5egr2bjtdf0f.apps.googleusercontent.com"></meta>
            
       
        <!--kautkas priekš ajax -->
		<script src="/assets/todo-list.js"></script>
      

    </footer>
</body>
</html>		 