<!DOCTYPE html>
<html>
<head>
	<title>Iestatījumi</title>


</head>
<body>
<section>
	<h1>Darba laiki</h1>
	<div>
		<p>Iestatītais darba laiks ir: </p><p id="darbalaiks"></p>


	</div>


</section>
</body>
</html>